<div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-2">
    <div class="card m-1" style="min-height: 15rem;">
        <div class="card-body software-card-body">
            <div class="card-title software-head mb-2">
                <a target="_blank" href="{{url}}">
                    <h4 class="card-title d-inline">{{ title }}</h4>
                </a>
            </div>

            <p class="card-text pt-3 mb-4">{{ about }}</p>

            <div class="software-languages">
            {{#each languages}}
                <span>
                    <i style="color: {{this.color }};" class="fas fa-circle" aria-hidden="true"></i>
                    {{ this.name }}
                </span>
            {{/each}}
            </div>
            {{!-- <div class="progress">
                <div class="progress-bar skill-progress-bar" role="progressbar"
                    style="width: {{mul skill.level 10}}%"
                    aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
            <p class="skill-extra-info text-right text-muted mt-1">{{skill.level}} / 10</p> --}}
        </div>
    </div>
</div>